.immediate-displayer {
  width: 300px;
  border: none;
}
.subscribe-button{
  border:none;
  background-color: black;
  color:white;
  font:bold;
  border-radius: 20px;
  padding: 10px 15px;
  cursor:pointer;
}
.is-subbed{
  color:black;
  background-color: lightgray;
  font:700px;
}

.cost-input{
  padding:10px;
  font-size: 15px;
}
.calculate-button{
  background-color: green;
  color:white;
  font-weight: 700px;
  padding:12px;
  font-size: 15px;
  border: none;
}